<hr>
<div class="productsHeader">
  <h1 class="listProduct">Lista de Productos</h1>
  <div class="productsHeader">
    <a href="./index.html" class="btnPrincipal">Home</a>
    <a href="/realtimeproducts" class="btnPrincipal">Cargar Producto</a>
  </div>

</div>
<hr>


<div class="productCard">

  {{#each products}}

  <div class="card" style="width: 300px;">
    {{#if this.thumbnail.length}}
      <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}" width="75" height="250">
      {{else}}
      Sin Imágen
      {{/if}}     
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text">Precio: $ <b>{{this.price}}</b></p>
      <p class="card-text">Stock: <b>{{this.stock}}</b></p>
      
      <p class="card-text">Status: 
        {{#if this.status}}
        <b>Activo</b>
        {{else}}
        <b>Desactivado</b>
        {{/if}}
        </p>
    </div>
    <div class="card-body btnComprar">
      <button type="button" class="btn btn-info" id="{{this._id}}">Comprar</button>
    </div>
  </div>

  {{/each}}

</div>